* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.padre {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-x: hidden;
}

.div1 {
    grid-area: 1 / 2 / 6 / 13;
}

.div3 {
    grid-area: 1 / 1 / 6 / 13;
}

.containeer {
    width: 100%;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    margin-right: auto;
}


.containeer>header {
    margin: 0 auto;
    padding: 1% 0% 5% 0%;
    text-align: center;
}

.containeer>header h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}

.wrapper {
    line-height: 1.5em;
    margin: 0 0em 0 12.5em;
    padding: 2em 0 3em;
    width: 77%;
    max-width: 2000px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td,
th {
    border-bottom: 2px solid #ddd;
    padding: 1em 1.5em;
    text-align: left;
}

tbody th {
    background-color: #2ea879;
}

/* tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
} */

tbody tr:hover {
    background-color: rgba(50, 98, 149, .3);
}

td.rango {
    text-transform: capitalize;
}

.btn-acciones {
    color: #fff !important;
    background-color: #282936;
    border-color: #282936;
}

.btn-acciones:hover {
    color: #fff !important;
    background-color: #09090c;
    border-color: #000000;
}

.flecha {
    width: 50px;
    height: 50px;
}

.fondo-flecha {
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1%;
}