<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<meta name="keywords" coontent="navegación del sitio web, menú de navegación, menú principal, menú secundario, menú de categorías,diseño de menú, menú responsive, menú desplegable, menú hamburguesa, menú de iconos, menú de productos, menú de servicios, menú de precios, menú de opciones, menú de herramientas, menú de comida, menú de bebidas, menú del día, menú para niños, menú degustación, información nutricional, alérgenos, ingredientes, descripciones, recomendaciones,personalización de menú, menú para usuarios registrados, menú para dispositivos móviles, menú para diferentes idiomas">
<meta name="keywords" coontent="competencia, clasificación, nivel, posición, puntaje, rendimiento, éxito,calificaciones, evaluaciones, notas, resultados, logros, desempeño, deberes, ejercicios, trabajos, actividades, proyectos, asignaciones, maestros, instructores, docentes, mentores, tutores, capacitadores,estudiantes, aprendices, cursantes, aspirantes, discípulos, usuarios, cursos, lecciones, materias, asignaturas, programas, planes de estudio,líder, campeón, mejor, superior, sobresaliente, destacado, exámenes, pruebas, certificaciones, diplomas, acreditaciones, titulaciones, desafíos, objetivos, metas, retos, proyectos finales, trabajos prácticos, expertos, especialistas, formadores, consultores, conferencistas, instructores virtuales, capacitación, aprendizaje, educación, desarrollo, crecimiento, superación, tutorías, seminarios, talleres, conferencias, webinars, lecciones en video">

<div class="padre">
    <div class="div1" *ngIf="this.rankingsService.ver ==  false">
        <div class="cont-titulo">
            <h1 id="titulo">Rankings</h1>
        </div>
        <div style="margin-bottom: 2%;">
            <button class="btn-crear" *ngIf="this.verCrear == true" (click)="showModal()">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                    </svg> Crear Ranking
                </span>
            </button>
            <form [formGroup]="newRanking">
                <input formControlName="name" *ngIf="this.verCrear == false" type="text"
                    placeholder="Nombre del Ranking">
            </form>
        </div>
        <div class="div2">
            <div class="card" style="width: 18rem;" *ngFor="let ran of this.rankings">
                <div class="card-body">
                    <div class="card-title">
                        <div>
                            <h2 *ngIf="this.verModificar == true || ran.id != this.rank_id">{{ran.name}}
                                <button *ngIf="this.verModificar == true || ran.id != this.rank_id" class="btn-accion"
                                    (click)="verModificarRanking(ran.id, ran.name)">
                                    <i class="fa-solid fa-pen-to-square fa-sm"></i>
                                </button>
                                <button *ngIf="this.verModificar == true || ran.id != this.rank_id" class="btn-accion"
                                    (click)="eliminarRanking(ran.id)">
                                    <i class="fa-solid fa-trash" style="color: #FF0800;"></i>
                                </button>
                            </h2>
                            <div class="btn-input">
                                <button class="btn-accion input-btn"
                                    *ngIf="this.verModificar == false && ran.id == this.rank_id"
                                    (click)="actualizarRanking(ran.id)"><i class="fa-solid fa-check"></i></button>
                                <button class="btn-accion input-btn"
                                    *ngIf="this.verModificar == false && ran.id == this.rank_id"
                                    (click)="cancelarModificarRanking()"><i class="fa-solid fa-xmark"></i></button>
                                <h2 *ngIf="this.verModificar == false && ran.id == this.rank_id">
                                    <form [formGroup]="newRanking">
                                        <input class="input-edit" formControlName="name" type="text">
                                    </form>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <p class="card-text" id="texto-a-copiar">
                        {{ran.code}}
                        <button class="btn-accion" (click)="cambiarCodigo(ran.id)">
                            <i class="fa-solid fa-arrows-rotate fa-l"></i>
                        </button>
                        <button class="btn-accion" (click)="copiarTexto()">
                            <i class="fa-regular fa-copy fa-l"></i>
                        </button>
                    </p>
                    <a class="btn btn-acciones" (click)="ranking(ran.id)">Acciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="div1" *ngIf="this.rankingsService.ver ==  true">
        <button class="fondo-flecha" (click)="volver()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flecha">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                    d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z"></path>
            </svg></button>
        <div class="div6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {{this.activeRankingi}}" id="home-tab" data-toggle="tab" role="tab"
                        (click)="verRanking()" aria-controls="home" aria-selected="true">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{this.activeTarea}}" id="tarea-tab" data-toggle="tab" role="tab"
                        (click)="verTarea()" aria-controls="tarea" aria-selected="false">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{this.activePuntuarTarea}}" id="puntuarTarea-tab" data-toggle="tab" role="tab"
                        (click)="verPuntuarTarea()" aria-controls="puntuarTarea" aria-selected="false">Puntuar
                        Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{this.activeSolicitudes}}" id="solicitudes-tab" data-toggle="tab" role="tab"
                        (click)="verSolicitudes()" aria-controls="solicitudes" aria-selected="false">Solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{this.activeHistorialIng}}" id="historialIng-tab" data-toggle="tab" role="tab"
                        (click)="verHistorialIng()" aria-controls="historialIng" aria-selected="false">Historial
                        Insignias</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade {{this.showActiveRanking}}" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <app-modificar-ranking></app-modificar-ranking>
                </div>
                <div class="tab-pane fade  {{this.showActiveTarea}}" id="tarea" role="tabpanel"
                    aria-labelledby="tarea-tab">
                    <app-tarea></app-tarea>
                </div>
                <div class="tab-pane fade  {{this.showActivePuntuarTarea}}" id="puntuarTarea" role="tabpanel"
                    aria-labelledby="puntuarTarea-tab">
                    <app-puntuar-tarea></app-puntuar-tarea>
                </div>
                <div class="tab-pane fade  {{this.showActiveSolicitudes}}" id="solicitudes" role="tabpanel"
                    aria-labelledby="solicitudes-tab">
                    <app-solicitudes-profesor></app-solicitudes-profesor>
                </div>
                <div class="tab-pane fade  {{this.showActiveHistorialIng}}" id="historialIng" role="tabpanel"
                    aria-labelledby="historialIng-tab">
                    <app-historial-insignias></app-historial-insignias>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="div1">
            <button id="btn-volver" (click)="volver()">
                <span>Volver</span>
            </button>
            <div class="div2">
                <button class="btn-acciones" (click)="modificarRanking()">
                    <span>Modificar Ranking</span>
                </button>
            </div>
            <div class="div3">
                <button class="btn-acciones" (click)="tarea()">
                    <span>Añadir Tareas</span>
                </button>
            </div>
            <div class="div4">
                <button class="btn-acciones" (click)="puntuarTarea()">
                    <span>Puntuar Tareas</span>
                </button>
            </div>
            <div class="div5">
                <button class="btn-acciones" (click)="solicitudes()">
                    <span>Solicitudes</span>
                </button>
            </div>
            <button class="btn btn-primary" type="button" (click)="volver()">Volver</button>
        </div> -->

</div>